node_modules/
node_modules/.*
.*
!.gitignore
node_modules/.package-lock.json
node_modules/.bin/acorn
node_modules/.bin/cleancss
node_modules/.bin/jade
node_modules/.bin/mime
node_modules/.bin/mkdirp
node_modules/.bin/nodemon
node_modules/.bin/nodetouch
node_modules/.bin/nopt
node_modules/.bin/semver
node_modules/.bin/sshpk-conv
node_modules/.bin/sshpk-sign
node_modules/.bin/sshpk-verify
node_modules/.bin/tsc
node_modules/.bin/tsserver
node_modules/.bin/uglifyjs
node_modules/.bin/uuid
node_modules/transformers/node_modules/.bin/uglifyjs
node_modules/with/node_modules/.bin/acorn
